<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filestreamer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1> Filestreamer </h1>
        <p> This is a test file streamer application. </p>
    </div>
</div>

<div class="container">
    <div class="col-lg-9" style="text-align: center;">
        <a class="btn btn-lg btn-success" href="{{ url_for('upload_file') }}">Upload New File</a>
    </div>

    <div class="row">
        <div class="col-lg-9">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Filename</th>
                    <th>Date</th>
                    <th>Size</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for file in files %}
                    <tr>
                        <td>{{ file['name'] }}</td>
                        <td>{{ file['mtime'] }}</td>
                        <td>{{ file['size'] }}</td>
                        <td><a href="#"><span class="glyphicon glyphicon-download-alt"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
