<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
        function getStatusHandler(data, task_id, status_url) {
            var progress_bar = $('#progress_bar');
            var task_progress = $('#task_progress');
            var task_message = $('#task_message');
            var task_title = $('#task_title');
            var block = $('#loading-block');
            var progress_div = $('#progress_div');
            if (data['status'] < 100) {
                progress_bar.width(data['status'] + '%');
                task_progress.html(data['status'] + '%');
                setTimeout(function() {
                    getStatus(task_id, status_url);
                }, 100);
            }
            else {
                task_title.html('Task is finished.');
                task_message.html('Character count in this file: {{ result }}');
                progress_bar.width(data['status'] + '%');
                task_progress.html(data['status'] + '%');
            }
        }

        function getStatus(task_id, status_url) {
            $.ajax({
                dataType: "json",
                url: status_url,
                cache: false
            }).success(function(data) {
                getStatusHandler(data, task_id, status_url);
            }).error(function(data) {
                getStatusHandler(data, task_id, status_url);;
            });
        }
        //getStatus("{{task_id}}", "http://172.16.178.100:8080/progress/{{task_id}}")
        getStatus("{{task_id}}", "{{ url_for('parsing_file_progress', task_id=task_id)}}")
    </script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>Filestreamer</h1>
        <p>This is a test file streamer application.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 bg-info" style="border-radius: 5px; padding-bottom: 10px;">
            <div style="text-align: center;">
                <h3 id="task_title"> Parsing the file... </h3>
            <div id='progress_div' class="progress progress-striped active">
                <div id='progress_bar' class="progress-bar"  role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>
            <strong id="task_progress">0%</strong><br/>
            <strong id="task_message"></strong><br/>
        </div>
    </div>
</div>
</div>
</body>
</html>
