<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Filestreamer: upload the file</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        function upload(file) {
            var xhr = new XMLHttpRequest();

            var progress = '';
            var progress_bar = $('#progress_bar');
            var task_progress = $('#task_progress');
            var progress_view = $('#progress_view');
            var file_select_view = $('#file_select_view');

            progress_view.show();
            file_select_view.hide();

            xhr.upload.onprogress = function (event) {
                // event.loaded - part of file which was already sent to server
                // event.total - total size of form data (+1 to avoid NaN value).
                float_progress = 100.0 * event.loaded / (event.total + 1);
                progress = Math.round(float_progress).toString() + '%';

                progress_bar.width(progress);
                task_progress.html(progress);
            };

            xhr.upload.onload = function () {
                $(location).attr("href", "{{ url_for('status', task_id=task_id) }}");
            };

            console.log(xhr.upload);

            var data = new FormData();
            data.append('task_id', '{{ task_id }}');
            data.append('file', file);

            xhr.open("POST", "{{ url_for('upload_file') }}", true);
            xhr.send(data);
        }

        // we should associate upload function with form submit action
        $(document).ready(function() {

            var progress_view = $('#progress_view');
            var file_select_view = $('#file_select_view');
            var upload_button = $('#upload_button');
            var input_file = $('#InputFile');
            var form_title = $('#form_title');

            // we should hide progress bar while we don't
            // start the uploading
            progress_view.hide();
            upload_button.hide();
            file_select_view.show();

            // when we selected the file we should hide some
            // elements and show other elements:
            input_file.on('change', function(env) {
                var f = document.getElementById('file');
                upload_button.show();
                input_file.hide();
                form_title.html('<h3> Selected file: </h3><p>' + f.files[0].name + '<p>');
            });

            upload_button.on('click', function(env) {
                var f = document.getElementById('file');
                upload(f.files[0]);
            });
        });
    </script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand" href="#">Filestreamer</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1> Filestreamer </h1>
            <p> This is a test file streamer application. </p>
            <p><a class="btn btn-lg btn-success" href="{{ url_for('files') }}">Browse files</a></p>
        </div>
    </div>
    <div class="container">
        <div class="row" id="file_select_view">
            <div class="col-md-4 col-md-offset-4 bg-success" style="border-radius: 5px; padding-bottom: 10px;">
                <form method="post" enctype="multipart/form-data" id="iform" style="text-align: center;">
                    <div style="text-align: center;" id="form_title">
                        <h3> Select file: </h3>
                    </div>
                    <br />
                    <div class="form-group" id="InputFile">
                        <input type="file" name="file" id="file" class="hide">
                        <label for="file" class="btn btn-success">Select file for upload</label>
                    </div>
                    <input type="button" class="btn btn-success" value="Upload File" id="upload_button">
                </form>
            </div>
        </div>
        <div class="row" id="progress_view">
            <div class="col-md-4 col-md-offset-4 bg-success" style="border-radius: 5px; padding-bottom: 10px;">
                <div style="text-align: center;">
                    <h3 id="task_title"> Uploading... </h3>
                    <div id='progress_div' class="progress progress-striped active">
                        <div id='progress_bar' class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        </div>
                    </div>
                    <strong id="task_progress">0%</strong>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
